    <footer class="footer">
      <div class="footer-grid">
        <!-- Kolom Logo dan Informasi -->
        <div class="footer-logo">
          <img src="/assets/img/logos/logo_polri.png" alt="Logo Polri" class="logo-img-polri" />
          <img src="/assets/img/logos/logo_polres.png" alt="Logo Polres" class="logo-img-polres" />

          <h3>Kepolisian Resor Bangkalan</h4>
          <div class="footer-info">
            <p>Dikembangkan Oleh:</p>
            <p>Divisi Teknologi Informasi & Komunikasi Polres</p>
            <p>Jl. Soekarno Hatta No.45 Wr 08, Mlajah, Kec. Bangkalan Kabupaten Bangkalan, Jawa Timur 69116.</p>
          </div>
        </div>
        <div class="footer-section">
          <h4 class="footer-title">Profile</h4>
          <ul class="footer-list">
            <li><a href="/user/sambutan_kapolres.html">Sambutan Kapolres</a></li>
            <li><a href="/user/lambang.html">Lambang</a></li>
            <li><a href="/user/visi_misi.html">Visi dan Misi</a></li>
            <li><a href="/user/struktur_organisasi.html">Struktur Organisasi</a></li>
            <li><a href="/user/sejarah.html">Sejarah</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4 class="footer-title">Satfung</h4>
          <ul class="footer-list">
            <li><a href="/user/sat_binmas.html">Sat Binmas</a></li>
            <li><a href="/user/bag_perencanaan.html">Bagian Perencanaan</a></li>
            <li><a href="/user/bag_sumda.html">Bagian Sumda</a></li>
            <li><a href="/user/bag_operasi.html">Bagian Operasi</a></li>
            <li><a href="/user/sat_intelkam.html">Sat Intelkam</a></li>
            <li><a href="/user/sat_lantas.html">Sat Lantas</a></li>
            <li><a href="/user/sat_narkoba.html">Sat Narkoba</a></li>
            <li><a href="/user/sat_reskrim.html">Sat Reskrim</a></li>
            <li><a href="/user/sat_sabhara.html">Sat Sabhara</a></li>
            <li><a href="/user/sat_tahti.html">Sat Tahti</a></li>
            <li><a href="/user/si_keuangan.html">Si Keuangan</a></li>
            <li><a href="/user/si_pengawas.html">Si Pengawas</a></li>
            <li><a href="/user/si_propam.html">Si Propam</a></li>
            <li><a href="/user/sie_tik.html">SIE TIK</a></li>
            <li><a href="/user/sie_umum.html">SIE Umum</a></li>
            <li><a href="/user/urusan_kesehatan.html">Urusan Kesehatan</a></li>
            <li><a href="/user/polsek.html">POLSEK</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4 class="footer-title">Hubungi</h4>
          <ul class="footer-list">
            <li><a href="/user/110.html">Call Center 110</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4 class="footer-title">Giat Polres Bangkalan</h4>
          <ul class="footer-list">
            <li><a class="dropdown-item" href="/user/giat_masyarakat.html">Giat Masyarakat</a></li>
            <li><a class="dropdown-item" href="/user/giat_bhabinkamtibmas.html">Giat BAHBINKAMTIBMAS</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        WEBSITE KEPOLISIAN RESOR BANGKALAN &copy; <span id="year"></span>
      </div>
    </footer>