    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <!-- <a class="navbar-brand" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="..." /></a> -->
        
        <a class="navbar-brand" href="/index.html"><img src="/assets/img/logos/logo_polri.png" alt="..." /></a>
        <a class="navbar-brand" href="/index.html"><img src="/assets/img/logos/logo_polres.png" alt="..." /></a>
        <a class="navbar-brand" href="/index.html">POLRES BANGKALAN</a>

        <!-- (button) navbar pada tampilan mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#profil" id="profilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILE
              </a>
              <ul class="dropdown-menu" aria-labelledby="profilDropdown">
                <li><a class="dropdown-item" href="/user/sambutan_kapolres.html">Sambutan Kapolres</a></li>
                <li><a class="dropdown-item" href="/user/lambang.html">Lambang</a></li>
                <li><a class="dropdown-item" href="/user/visi_misi.html">Visi dan Misi</a></li>
                <li><a class="dropdown-item" href="/user/struktur_organisasi.html">Struktur Organisasi</a></li>
                <li><a class="dropdown-item" href="/user/sejarah.html">Sejarah</a></li>

              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#informasi" id="informasiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                SATFUNG
              </a>
              <ul class="dropdown-menu" aria-labelledby="informasiDropdown">
                <li><a class="dropdown-item" href="/user/sat_binmas.html">Sat Binmas</a></li>
                <li><a class="dropdown-item" href="/user/bag_perencanaan.html">Bagian Perencanaan</a></li>
                <li><a class="dropdown-item" href="/user/bag_sumda.html">Bagian Sumda</a></li>
                <li><a class="dropdown-item" href="/user/bag_operasi.html">Bagian Operasi</a></li>
                <li><a class="dropdown-item" href="/user/sat_intelkam.html">Sat Intelkam</a></li>
                <li><a class="dropdown-item" href="/user/sat_lantas.html">Sat Lantas</a></li>
                <li><a class="dropdown-item" href="/user/sat_narkoba.html">Sat Narkoba</a></li>
                <li><a class="dropdown-item" href="/user/sat_reskrim.html">Sat Reskrim</a></li>
                <li><a class="dropdown-item" href="/user/sat_sabhara.html">Sat Sabhara</a></li>
                <li><a class="dropdown-item" href="/user/sat_tahti.html">Sat Tahti</a></li>
                <li><a class="dropdown-item" href="/user/si_keuangan.html">Si Keuangan</a></li>
                <li><a class="dropdown-item" href="/user/si_pengawas.html">Si Pengawas</a></li>
                <li><a class="dropdown-item" href="/user/si_propam.html">Si Propam</a></li>
                <li><a class="dropdown-item" href="/user/sie_tik.html">SIE TIK</a></li>
                <li><a class="dropdown-item" href="/user/sie_umum.html">SIE Umum</a></li>
                <li><a class="dropdown-item" href="/user/urusan_kesehatan.html">Urusan Kesehatan</a></li>
                <li><a class="dropdown-item" href="/user/polsek.html">POLSEK</a></li>


              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#layanan" id="layananDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LAYANAN
              </a>
              <ul class="dropdown-menu" aria-labelledby="layananDropdown">
                <li><a class="dropdown-item" href="/user/sim.html">SIM</a></li>
                <li><a class="dropdown-item" href="/user/spkt.html">SPKT</a></li>
                <li><a class="dropdown-item" href="/user/skck.html">SKCK</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#hubungi" id="hubungiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                HUBUNGI
              </a>
              <ul class="dropdown-menu" aria-labelledby="hubungiDropdown">
                <li><a class="dropdown-item" href="/user/110.html">Call Center 110</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#fitur" id="fiturDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                GIAT POLRES BANGKALAN
              </a>
              <ul class="dropdown-menu" aria-labelledby="fiturDropdown">
                <li><a href="/user/giat_masyarakat.html">Giat Masyarakat</a></li>
                <li><a href="/user/giat_bhabinkamtibmas.html">Giat BAHBINKAMTIBMAS</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>